<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication14.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsApplication14.My.MySettings>
            <setting name="Appstat" serializeAs="String">
                <value>Trial Version</value>
            </setting>
            <setting name="LoadCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Serialkey" serializeAs="String">
                <value>121198</value>
            </setting>
        </WindowsApplication14.My.MySettings>
    </userSettings>
</configuration>